/* @import "tailwindcss";

@theme{
    --color--primary:#00030653;
    --color--brand:#7cb1e653
}


@utility container{
margin:auto;
padding: 0 24px;
} */

@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
